{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block logout %}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  integrity="sha384-dZJphvWB4gBFHqhDyv4m3D7cycoqj/ZxVBbsKsW9ec9CSJ0+Emlwj8bs3iyCegQj" crossorigin="anonymous" />


<!-- reset password email Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-center" id="exampleModalLongTitle" >Reset Password</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center "> 
        <form action="{% url 'reset_pass' %}" method="post">
          <label for="">Enter Email</label>
          <input type="email" name="email" placeholder="" class="d-flex justify-content-center ">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary tect-center" data-toggle="modal" data-target="#exampleModalCenter1" aria-label="Close" data-dismiss="modal">Send otp</button>
      </div>
    </div>
  </div>
</div>

<!-- otp verification Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-block ">
        <h5 class="modal-title text-bg-primary  " id="exampleModalLongTitle">OTP Verification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'reset_pass' %}" method="post">
          <p class="d-flex justify-content-center ">4 digit verification code sent to your email</p>
          <br>

          <div class="container mb-3 d-flex justify-content-between  align-items-center py-4">
            <input type="text" autocomplete="off" class="form-control text-center otp-input rounded " name="one"
                maxlength="1" required autofocus />
            <input type="text" autocomplete="off" class="form-control text-center otp-input" name="two"
                maxlength="1" required />
            <input type="text" autocomplete="off" class="form-control text-center otp-input" name="three"
                maxlength="1" required />
            <input type="text" autocomplete="off" class="form-control text-center otp-input" name="four"
                maxlength="1" required />
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2" aria-label="Close" data-dismiss="modal">Send otp</button>
      </div>
    </div>
  </div>
</div>

<!-- reset password Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Reset password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'reset_pass' %}" method="post">
          <div class="form-group d-flex justify-content-between align-items-center">
            <label for="password"><i class="fa fa-lock"></i>New Password</label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="new_password" placeholder="Enter a password"
              required />
          </div>
          <div class="form-group d-flex justify-content-between align-items-center">
            <label for="password"><i class="fa fa-lock"></i>Confirm Password</label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="confirm_password" placeholder="Enter a password"
              required />
          </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="{% url 'login' %}"><button type="button"  role="submit" class="btn btn-primary">Confirm</button></a>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-container">
        <div class="welcome-msg">Welcome !!!</div>
        <div class="signup-msg">Welcome back User</div>

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}


          <div class="form-group">
            <label for="username"><i class="fa fa-user"></i>
              </i> Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter a username" name="username"
              required />
          </div>

          <div class="form-group d-flex justify-content-between align-items-center">
            <label for="password"><i class="fa fa-lock"></i> Password</label>
            <div class="forgot-password-link">
              <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Forgot Password?</a>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password"
              required />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block rounded">Login</button>
          </div>
          {% if messages %}
          <div class="messages text-center text-capitalize font-weight-bold">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <h5 class="text-danger">! {{ message }}</h5>
            {% elif message.tags == 'success' %}
            <h5 class="text-success">! {{ message }}</h5>
            {% else %}
            <h5>! {{ message }}</h5>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
          <br />
        </form>

        <div class="login-msg text-center">
          <span>I don't have an account?</span>
          <a href="{% url 'register' %}" class="sign-in-link">Sign up</a>
        </div>
        <div class="div">
          <div class="div-2"></div>
          <div class="div-3">or</div>
          <div class="div-4"></div>
        </div>

        <style>
          .div {
            align-self: center;
            display: flex;
            margin-top: 29px;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            font-size: 14px;
            color: #969ab8;
            font-weight: 500;
            white-space: nowrap;
            text-align: center;
            letter-spacing: 0.1px;
          }

          @media (max-width: 991px) {
            .div {
              white-space: initial;
            }
          }

          .div-2 {
            border-color: rgba(11, 12, 13, 1);
            border-style: solid;
            border-width: 1px;
            background-color: #0b0c0d;
            align-self: stretch;
            width: 200px;
            height: 1px;
            margin: auto 0;
          }

          .header__logo img {
            max-width: 52%;
            margin-right: 239px;
          }

          .div-3 {
            font-family: Poppins, sans-serif;
            align-self: stretch;
          }

          .div-4 {
            border-color: rgba(16, 16, 17, 1);
            border-style: solid;
            border-width: 1px;
            background-color: #101011;
            align-self: stretch;
            width: 200px;
            height: 1px;
            margin: auto 0;
          }
        </style>
        <br>
        {% load socialaccount %}
        <a href="{% provider_login_url 'google' %}" class="google-login-btn d-flex justify-content-center ">
          <img src="{% static 'img/google_logo.png' %}" alt="Google Icon" class="google-icon">
        </a>
        <br />
        <br />

        <style>
          .google-login-btn {
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            border-radius: 560px;
          }

          .google-icon {
            width: 50px;
            height: 50px;
          }

          h5 {
            margin: 0;
            color: #ff0000;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
          }

          .img {
            aspect-ratio: 2.63;
            object-fit: auto;
            object-position: center;
            width: 138px;
            fill: #fff;
            stroke-width: 1.604px;
            stroke: #e0e2e9;
            border-color: rgba(224, 226, 233, 1);
            border-style: solid;
            border-width: 2px;
            align-self: center;
            margin-top: 40px;
            max-width: 100%;
          }

          a {
            display: flex;
            color: #007bff;
            text-decoration: none;
            background-color: transparent;
            align-items: center;
            justify-content: center;
          }
        </style>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Added image -->
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/1a12343ddf6817b46a145815a50657abe2d18271441a9b0cdad0489742907d67?apiKey=04953d70f2ec47bc87e43c3e384dd0ac&"
        class="img-fluid" alt="Signup Image" />
    </div>
  </div>
</div>

<style>
  .container-fluid {
    background-color: #d9d9d9;
    padding: 50px;
  }
  #exampleModalLongTitle{
    margin-left: 168px;
  }

  .forgot-password-link a {
    color: #f8a435;
    font-size: 14px;
  }

  .forgot-password-link a:hover {
    color: #007bff;
    text-decoration: none;
  }

  .form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 610px;
    height: 670px;
  }

  .welcome-msg {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .signup-msg {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .btn-primary {
    background-color: #f8a435;
    border-color: #f8a435;
  }

  .btn-primary:hover {
    background-color: #f6871f;
    border-color: #f6871f;
  }

  .sign-in-link {
    color: #4045c8;
    font-weight: bold;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 98px;
    margin-left: 49px;
  }

  @media (max-width: 992px) {
    .container-fluid {
      padding: 20px;
    }

    .col-lg-6 {
      max-width: 100%;
    }

    .img-fluid {
      margin-top: 20px;
    }
  }
</style>
<script></script>

{% endblock %}